:root{
    --cor-branca: white;
    --cor-preta: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONFIGURAÇÕES GERAIS */
.botao-primario{
    background-color: var(--cor-branca); /* Fundo Branco */
    color: var(--cor-preta);  
    border-color: transparent;          /* Texto Preto */
    border-radius: 0px;        /* QUADRADO PERFEITO */
    padding: 12px 30px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;
}
.botao-primario:hover{
    background-color: transparent;
    border-color: var(--cor-branca);
    color: var(--cor-branca);
}
.botao-secundario{
    background-color: transparent; /* Fundo Transparente */
    color: var(--cor-branca);            /* Texto brancp */
    border-color: var(--cor-branca);
    border-radius: 0px;        /* QUADRADO PERFEITO */
    padding: 12px 30px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;
}
.botao-secundario:hover{
    background-color: var(--cor-branca);
    color: var(--cor-preta);
}
input{
    padding: 10px;
    color: var(--cor-branca);
    background-color: transparent;
    border: var(--cor-preta);
    outline: none;
    border-bottom: gray 1px solid;
}
input:focus{
    border-bottom: 1px solid var(--cor-branca);
}
/* ------- PÁGINA INDEX ------- */
#pagina-index{
    margin: 0;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.hero-content {
    display: flex;
    fLex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:2px dotted rgb 96 139 168); */
    height: 100vh;
    width: 100vw;
    flex-grow: 1;


}

.hero-content img {
    position: static;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.menu-navegacao {
    margin-bottom: 20px;
    display: flex;
    position: fixed;
   
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.menu-navegacao button {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px 16px;
}

ul,
li,
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
}
#pesquisa {
    width: 300px;
}
.barra-pesquisa button {
    display: flex;
    gap: 8px;
    border-radius: 20px; 
    border: 1px solid #ddd;
    padding: 6px 12px;
}

/* ------------- LOGIN PAGE -----------*/
#pagina-login{
    margin: 0;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-variant: small-caps;
}
.login-geral{
    display: flex;
    width: 100%;
    height: 100vh;
}
.login-background{
    max-width: 60%;
    background-color: var(--cor-branca);
    overflow: hidden;
}
.login-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-formulario, .cadastro-formulario{
    background-color: var(--cor-preta);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto 0;
    align-items: center;
}
.login-formulario > *{
    width: 400px;
    margin-top: 20px;
}
.cadastro-formulario > *{
    width: 400px;
    margin-top: 20px;
}
.botoes-login{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
/* desaparece com todo o 'container'*/
.escondido{
    display: none !important;
}
/* ------------- TEMAS ------------- */
.login-formulario, .cadastro-formulario{
    position: relative;
}
#botao-tema-login{
    position:absolute;
    top: 20px;
    right: 20px;
    border-radius: 20px; 
    border: 1px solid #ddd;
    padding: 6px 12px;
}
